@import "tailwindcss";

/* Light theme (default) */
:root {
  --revertBg: rgb(255, 255, 255);
  --bg: rgb(0, 0, 0);
  --bgPrimary: rgb(36, 36, 36);
  --bgPrimaryHover: rgb(255, 255, 255, 0.85);
  --txt: rgb(0, 0, 0);
  --txtPrimary: rgb(66, 66, 66);
  --txtSecondary: rgb(153, 153, 153);
  --border: rgba(40, 40, 40, 0.792);
}

@theme inline {
  --color-bg: var(--bg);
  --color-txt: var(--txt);
  --font-font-sans: var(--font-inter);
  --color-revertBg: var(--revertBg);
  --color-bgPrimary: var(--bgPrimary);
  --color-bgPrimaryHover: var(--bgPrimaryHover);
  --color-txtPrimary: var(--txtPrimary);
  --color-txtSecondary: var(--txtSecondary);
  --color-border: var(--border);
  --color-icon: var(--icon);
  --color-iconHoverBg: var(--iconHoverBg);
  --color-font-sans: var(--font-inter);
  --color-green: var(--green);
}

body {
  width: 100vw;
  background-color: var(--bg);
  color: var(--txt);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /* Updated */
}
